.PhoneBookPage__header {
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgb(56, 54, 54);
  border-bottom: 2px solid grey;
}
