.IconButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 8px;
	border: none;
	border-radius: 50%;
	color: white;
	font: inherit;
	background-color: rgba(107, 98, 95, 0.644);
	cursor: pointer;

	&:focus,
	&:hover {
		background-color: rgb(41, 39, 39);
	}
}
